<div class="row discovery-row">
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive img-discovery" src="/assets/370z.jpg">
  </div>
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive img-discovery" src="/assets/tesla.jpg">
  </div>
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive img-discovery" src="/assets/fj.jpg">
  </div>
</div>

<div class="row discovery-row">
  <div class="col-xs-8 column">
    <img alt="G63 front" class="img-responsive img-discovery" src="/assets/porsche_gt.jpg">
  </div>
    <div class="col-xs-4 column">
      <img alt="G63 front" class="img-responsive img-discovery" src="/assets/g63.jpg">
    </div>
</div>
