<div class="row discovery-row">
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
</div>

<div class="row discovery-row">
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
</div>

<div class="row discovery-row">
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
  <div class="col-xs-4 column">
    <img alt="G63 front" class="img-responsive" src="/assets/g63_front.jpg">
  </div>
</div>
