<nav class="row"></nav>

<header id="home" class="row" data-speed="-2">
  <div id="home-search"></div>
</header>

<div id="intro-message" class="row"></div>

<div id="discoveries" class="row"></div>

<footer class="row" data-speed="-2"></footer>
