

<header id="home" class="row" data-speed="-1.5">
  <div id="navbar"></div>
  <div id="home-search"></div>
</header>

<div id="intro-message" class="row"></div>

<div id="discoveries" class="row"></div>

<footer class="row" data-speed="-1.5"></footer>
