<form class="form-inline">
  <input
    class="form-control"
    id="address"
    name="address"
    placeholder="Where do you want to drive?"
    size="40"
    type="text"
  ><input
    class="form-control date-picker"
    name="start_date"
    placeholder="Start Date"
    type="text"
  ><input
    class="form-control date-picker"
    name="end_date"
    placeholder="End Date"
    type="text"
  ><input
    class="form-control"
    name="commit"
    type="submit"
    value="Search">

  <!-- Hidden fields -->
  <input
    type="hidden"
    name="rate_min"
    value="50">
  <input
    type="hidden"
    name="rate_max"
    value="500">
  <input
    type="hidden"
    name="car_type[]"
    value="Sport"
    checked>
  <input
    type="hidden"
    name="car_type[]"
    value="Utility"
    checked>
  <input
    type="hidden"
    name="car_type[]"
    value="Luxury"
    checked>
  <input
    type="hidden"
    name="car_type[]"
    value="Economy"
    checked>
</form>
