<form class="form-inline">
  <input
    class="form-control"
    id="search-model"
    name="model"
    placeholder="What do you want to drive?"
    size="40"
    type="text"
  ><input
    class="form-control datepicker"
    id="search-start-date"
    name="start_date"
    placeholder="Start Date"
    type="text"
  ><input
    class="form-control datepicker"
    id="search-end-date"
    name="end_date"
    placeholder="End Date"
    type="text"
  ><input
    class="form-control"
    name="commit"
    type="submit"
    value="Search">
</form>

<script>
  $(".date-picker").datepicker();
</script>
