<form class="form-inline">
  <input
    class="form-control"
    name="address"
    placeholder="Where do you want to drive?"
    size="40"
    type="text"
  ><input
    class="form-control date-picker"
    name="start_date"
    placeholder="Start Date"
    type="text"
  ><input
    class="form-control date-picker"
    name="end_date"
    placeholder="End Date"
    type="text"
  ><input
    class="form-control"
    name="commit"
    type="submit"
    value="Search">
</form>

<script>
  $(function () {
    $(".date-picker").datepicker({ minDate: 0 });
  })
</script>
