<form class="form-inline">
  <input
    class="form-control"
    id="search_model"
    name="search[model]"
    placeholder="What do you want to drive?"
    size="40"
    type="text"
  ><input
    class="form-control"
    id="search_start_date"
    name="search[start_date]"
    placeholder="Start Date"
    type="text"
  ><input
    class="form-control"
    id="search_end_date"
    name="search[end_date]"
    placeholder="End Date"
    type="text"
  ><select
    class="form-control"
    id="search_num_seats"
    name="search[num_seats]"
    placeholder="2 Seater">
      <option value="2 Seats">2 Seats</option>
      <option value="4 Seats">4 Seats</option>
      <option value="5 Seats">5 Seats</option>
      <option value="5+ Seats">5+ Seats</option>
  </select
  ><input
    class="form-control"
    name="commit"
    type="submit"
    value="Search">
</form>
