<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Visit the Help Center</a></li>
    <li><a href="#">Getting Started<a></li>
    <li><a href="#">How do I create an account?</a></li>
    <li><a href="#">How do I host on Carbnd?</a></li>
    <li><a href="#">See all FAQs</a></li>
  </ul>
</li>
