<ul class="list-group">
  <li class="list-group-item" id="new-request-title">
    <h4>Requests</h3>
  </li>

  <div id="requests">
    <li class="list-group-item">
      <% if (numOfRequests === 1) { %>
        You have <%= numOfRequests %> request
      <% } else { %>
        You have <%= numOfRequests %> requests
      <% } %>
    </li>
  </div>
</ul>
