Dates: <%= request.escape("start_date") %> - <%= request.escape("end_date") %><br>
Status: <%= request.escape("status") %><br>
<div class="row">
  <div class="col-xs-6">
    <button
      data-status="Approved"
      class="form-control">
      <font color="green">Approve</font>
    </button>
  </div>
  <div class="col-xs-6">
    <button
      data-status="Denied"
      class="form-control">
      <font color="red">Deny</font>
    </button>
  </div>
</div>
