Start Date: <%= request.escape("start_date") %><br>
End Date: <%= request.escape("end_date") %><br>
Status: <%= request.escape("status") %><br>
<button data-status="APPROVED">Approve</button><br>
<button data-status="DENIED">Deny</button>
