<style>
  .col-xs-2.control-label {
    text-align: right;
    padding-top: 7px;
  }
</style>

<div class="col-xs-8 col-xs-offset-2">

  <div id="flash-message"></div>
  <form class="form-horizontal">
    <h3>Listing Information</h3>
    <hr>

    <div class="form-group">
      <label for="car-listing-title" class="col-xs-2 control-label">Title</label>
      <div class="col-xs-10">
        <input
          type="text"
          id="car-listing-title"
          class="form-control"
          name="car_listing[title]"
          placeholder="Rent my BADASS vehicular transport for the weekend.">
      </div>
    </div>

    <div class="row row-offset-2"></div>

    <div class="form-group">
      <label for="car-listing-description" class="col-xs-2 control-label">Description</label>
      <div class="col-xs-10">
        <textarea
          id="car-listing-description"
          class="form-control"
          name="car_listing[description]"
          placeholder="Description"
        ></textarea>
      </div>
    </div>

    <div class="row row-offset-2"></div>

    <div class="form-group">
      <label for="car-listing-rate" class="col-xs-2 control-label">Daily Rate</label>
      <div class="col-xs-10">
        <input
          id="car-listing-rate"
          type="text"
          class="form-control"
          name="car_listing[rate]"
          placeholder="Daily rate">
      </div>
    </div>

    <div class="row row-offset-2"></div>

    <div class="form-group">
      <label for="car-listing-deposit" class="col-xs-2 control-label">Deposit</label>
      <div class="col-xs-10">
        <input
          id="car-listing-deposit"
          type="text"
          class="form-control"
          name="car_listing[deposit]"
          placeholder="Deposit">
      </div>
    </div>

    <div class="row row-offset-2"></div>

    <div class="form-group">
      <label for="car-listing-cancellation" class="col-xs-2 control-label">Cancellation</label>
      <div class="col-xs-10">
        <select
          id="car-listing-cancellation"
          class="form-control"
          name="car_listing[cancellation]"
          placeholder="Cancellation">
          <option value="standard">Standard</option>
          <option value="strict">Strict</option>
        </select>
      </div>
    </div>

    <!-- <div class="row row-offset-6"></div> -->

    <h3>Car Information</h3>
    <hr>

    <div class="form-group">
      <label for="car-listing-car-year" class="col-xs-2 control-label">Year</label>
      <div class="col-xs-10">
        <select
          class="form-control"
          id="car-listing-car-year"
          name="car_listing[car_year]">
        </select>
      </div>
    </div>

    <div class="row row-offset-2"></div>

    <div class="form-group">
      <label for="car-listing-car-make" class="col-xs-2 control-label">Make</label>
      <div class="col-xs-10">
        <select
          id="car-listing-car-make"
          class="form-control"
          name="car_listing[car_make]"
          placeholder="Make">
        </select>
      </div>
    </div>

    <div class="row row-offset-2"></div>

    <div class="form-group">
      <label for="car-listing-car-model" class="col-xs-2 control-label">Model</label>
      <div class="col-xs-10">
        <select
          id="car-listing-car-model"
          class="form-control"
          name="car_listing[car_model]"
          placeholder="Model">
        </select>
      </div>
    </div>

    <div class="row row-offset-2"></div>

    <div class="form-group">
      <label for="car-listing-car-color" class="col-xs-2 control-label">Color</label>
      <div class="col-xs-10">
        <input
          id="car-listing-car-color"
          type="text"
          class="form-control"
          name="car_listing[car_color]"
          placeholder="Color">
      </div>
    </div>

    <div class="row row-offset-6"></div>

    <h3>Upload Pictures</h3>
    <hr>

    <div class="row">
      <div class="col-xs-4" style="text-align:center">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
          <div>
            <span class="btn btn-default btn-file">
              <span class="fileinput-new">Select image</span>
              <span class="fileinput-exists">Change</span>
              <input type="file" name="...">
            </span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
      </div>
      <div class="col-xs-4" style="text-align:center">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
          <div>
            <span class="btn btn-default btn-file">
              <span class="fileinput-new">Select image</span>
              <span class="fileinput-exists">Change</span>
              <input type="file" name="...">
            </span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
      </div>
      <div class="col-xs-4" style="text-align:center">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
          <div>
            <span class="btn btn-default btn-file">
              <span class="fileinput-new">Select image</span>
              <span class="fileinput-exists">Change</span>
              <input type="file" name="...">
            </span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
      </div>
    </div>






    <div class="row row-offset-6"></div>

    <input
      class="btn btn-primary form-control"
      type="submit"
      value="Continue">

    <div class="row row-offset-6"></div>

  </form>


</div>
