<form>
  <select
      class="form-control"
      id="car-year"
      name="car[year]">
      <option value="2014">2014</option>
      <option value="2015">2015</option>
  </select>

  <div class="row row-2"></div>

  <select
    id="car-makes"
    class="form-control"
    name="car[make]"
    placeholder="Make">
  </select>

  <div class="row row-2"></div>

  <select
    id="car-models"
    class="form-control"
    name="car[model]"
    placeholder="Model">
  </select>

  <div class="row row-2"></div>

  <input
    class="pull-right btn btn-primary form-control"
    type="submit"
    value="Log In">


  <div class="row row-2"></div>

</form>
