<div id="nav" class="row"></div>

<div id="car-listings-index" class="row">
  <div class="col-xs-5" id="map">
    <div id="map-canvas"></div>
  </div>

  <div class="col-xs-7" id="sidebar">
    <div id="search">
    </div>

    <div id="car-listings">
    </div>
  </div>
</div>
