<div class="car-listing-mouseover">
  <div class="carousel-container"></div>
  <div class="car-listing-description">
    <a
      class="car-listing-link"
      href="#/car_listings/<%= carListing.id %>">
      <%= carListing.get("title") %>
    <br>
      <%= carListing.get("car_make") %> <%= carListing.get("car_model") %>
    </a>
  </div>
</div>
