<div class="car-listing-mouseover">
  <div class="carousel-container"></div>

  <a href="#/car_listings/<%= carListing.id %>">
    <strong><%= carListing.get("title") %></strong>
    <br>
    <%= carListing.get("car_make") %> <%= carListing.get("car_model") %>
  </a>
</div>
