<a class="car-listing-mouseover" style="display: block;" href="#/car_listings/<%= carListing.id %>">
  <div class="carousel-container"></div>
  <div class="car-listing-description">
    <%= carListing.get("title") %>
    <br>
    <%= carListing.get("car_make") %> <%= carListing.get("car_model") %>
  </div>
</a>
