/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 /*#request-start-date, #request-end-date {

 }*/

#new-request {
  padding: 0px 15px;
  border: 1px solid lightGrey;
}

.fixed {
    position: fixed;
}

#flash-message{
  text-align:left;
}

.form-control {
  border-radius: 2px;
}
.row-offset-2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.row-offset-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.row-offset-6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

header#home {
  position: relative;
  text-align: center;
  min-height: 600px;
  background-image: url(/assets/bmw_m3_front.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#home-search {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:rgba(0, 0, 0, 0.5);
}
div#home-search .form-control {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  height: 45px;
  border-radius: 0px;
  border: 1px solid darkGrey;
}

section#message {
  margin-top: 15px;
}
/*
section#discoveries {
  margin-top: 15px;
  margin-bottom: 15px;
}*/

.discovery-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  height: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/assets/pavement.jpg);
  background-position: center;
  color: white;
}
footer {
  color: white;
}
footer ul li {
  list-style-type: none;
}

#new-car-listing {
  /*padding-top: 10px;*/
  padding-bottom: 30px;
  background-color: #E3E3E3;
}
section {
  padding-top:30px;
    padding-bottom:30px;
}
