/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require jasny-bootstrap.min
 *= require jquery.nouislider.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */


#request-sidebar {
  width: 270px;
}

.affix-top {
  position: fixed;
  top: 300px;
}
a, a:hover {
  color: #565a5c;
}
.car-listing-panel-body:hover {
  background-color:rgba(0, 0, 0, 0.1);
}
/*#content {*/
  /*padding-left:0px;*/
  /*padding-right:0px;*/
/*}*/
.list-group-item {
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
}
#new-request-title {
  /*background-color: #E3E3E3;*/
  /*border-bottom: 1px solid darkGrey;*/
}
#request-sidebar {
  /*border: 1px solid darkGrey;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
}
.navbar {
  background-color: white;
}
/* Header */
header {
  position: relative;
  text-align: center;
  min-height: 600px;
  background-size: cover;
}

header#home {
  /*margin-top: -50px;*/
  background: url(/assets/bmw_m3_front.min.jpg) 50% 0px no-repeat;
  /*text-align: center;*/
  background-size: cover;
  min-height: 600px;
}

header#car-listing-header {
  background: 50% 0px no-repeat;
  position: relative;
  background-size: cover;
  text-align: center;
  min-height: 600px;
}


.car-listing-description {
  padding: 10px;
    /*border: 1px solid darkfGrey;*/
}
.car-listing-mouseover {
  border: 1px solid darkGrey;
  /*background-color: black;*/
  opacity: 0.95;
}
.car-listing-mouseover:hover {
  opacity: 1.0;
}
.pac-item {
  padding: 5px 10px;
}
.pac-container {
  border-right: 1px solid darkGrey;
  border-left: 1px solid darkGrey;
  width: 150%;
}
.pac-container .pac-item:last-child {
  padding-bottom: 10px;
}
#map-container {
  padding-left: 0px;
  padding-right: 0px;
}
.carousel-control .control-left,
.carousel-control .control-right {
  position: absolute;
  top: 42%;
  /*z-index: 5;*/
  /*display: inline-block;*/
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* General */
html, body {
  height: 100%;
}
.row-offset-2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.row-offset-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.row-offset-6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Form */

#flash-message{
  text-align:left;
}

.form-control {
  border-radius: 2px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
}


#content {
  min-width: 1000px;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetica-,Arial,sans-serif;
}
#home-search {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:rgba(0, 0, 0, 0.5);
}
#home-search .form-control {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  height: 45px;
  border-radius: 0px;
  border: 1px solid darkGrey;
}
/* Nav */
.navbar {
  margin-bottom: 0;
  /*border: 0;*/
  border-bottom: 1px solid darkGrey;
  padding-left: 15px;
  border-radius: 0px;
}
#search {
  padding: 0px 0px;
}
.nav .open a:focus, .nav li a:hover, .nav li>a:focus {
  background-color:transparent;
}
.navbar-brand, .navbar-brand:hover, .nav>li>a {
  color: #565a5c;
}
/* Modal */
.modal-dialog {
  margin-top: 200px;
}
.modal-content {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color:rgba(250, 250, 250, 1);
}
/* Discoveries */
.discovery-row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.img-discovery {
  border-radius: 2px;
  padding: 4px;
  border: 1px solid lightGrey;
  background-clip:content-box;
}
.img-discovery:hover {
  background:rgba(0,0,0,0.6);
  transition: all 0.2s;
}

footer {
  height: 275px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(/assets/pavement_new.jpg);
  /*bottom: 0;*/
  /*background-position: center;*/
  background-size: cover;
  /*background: no-repeat;*/
  color: white;
}
footer a {
  color: white;
}
footer ul li {
  list-style-type: none;
}

.alert {
  border-radius: 2px;
}
/* Car Listing Show */
.user-prof-pic {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

#discoveries, #intro-message, #footer-message, #details {
  background-color: #f5f5f5;
}

#footer-message .col-xs-8 h2 {
  margin-top: 3px;
}
#footer-message {
  padding-top: 0px;
  padding-bottom: 25px;
}

#car-listings {
  padding-right: 15px;
  background-color: #f5f5f5;
}

#intro-message {
  padding-top: 20px;
}

#map {
  padding: 0px 0px;
}
#map-canvas {
  height: 100%;
  width: 100%;
}
.car-listing-item {
  padding-top: 15px;
  padding-left:15px;
  padding-right:0px;
}

a.car-listing-link {
  color: #565a5c;
}

/* SEARCH PAGE */
.container-fluid {
  top:0;
  bottom:0;
  left:0;
  right:0;
}
#map-canvas {
  height: 713px;
}

#sidebar {
  overflow-y: scroll;
  height: 713px;
}
