/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 */
/*
#search_start_date:hover, #search_end_date:hover {
  cursor: default;
}*/
.ui-datepicker {
  width:150px;
  background: #FFFFFF;
}

div#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/assets/pavement.jpg);
  background-position: center;
  color: white;
}

div#footer a {
  color: white;
}

div#footer ul li {
  list-style-type: none;
}

form#home-search {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:rgba(0, 0, 0, 0.5);
}
form#home-search .form-control {
  height: 45px;
  border-radius: 0px;
  border: 1px solid darkGrey;
}
/*
.navbar-transparent {
  padding-top: 15px;
  background-color: transparent;
  background: transparent;
}
*/
.navbar-transparent a {
  color: black;
}
/*
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav li a:hover, .nav li a:hover, .nav li a:focus {
  background-color:transparent;
}*/
.navbar-brand {
  font-size: 22px;
}

div.row-images {
  height: 260px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

div#search{
  position: relative;
  text-align: center;
  min-height: 600px;
  background-image: url(/assets/bmw_m3_front.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.row-2 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.row-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row-6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
