<form>
  <!-- dates -->
  <div class="row row-offset-6">
    <div class="col-xs-3">
      <label>Dates</label>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-6">
          <input
            type="text"
            class="date-picker form-control"
            placeholder="Start Date"
            name="start_date">
        </div>
        <div class="col-xs-6">
          <input
            type="text"
            class="date-picker form-control"
            placeholder="End Date"
            name="end_date">
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- car type -->
  <div class="row row-offset-6">
    <div class="col-xs-3">
      <label>Car Type</label>
    </div>
    <div class="col-xs-9">

      <div class="row">
        <div class="col-xs-3">
          <label class="checkbox-inline">
            <input
              type="checkbox"
              name="car_type[]"
              value="Sport"
              checked>
              Sport
          </label>
        </div>
        <div class="col-xs-3">
          <label class="checkbox-inline">
            <input
              type="checkbox"
              name="car_type[]"
              value="Economy"
              checked>
              Economy
          </label>
        </div>
        <div class="col-xs-3">
          <label class="checkbox-inline">
            <input
              type="checkbox"
              name="car_type[]"
              value="Luxury"
              checked>
              Luxury
          </label>
        </div>
        <div class="col-xs-3">
          <label class="checkbox-inline">
            <input
              type="checkbox"
              name="car_type[]"
              value="Utility"
              checked>
              Utility
          </label>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- car type -->
  <div class="row row-offset-6">
    <div class="col-xs-3">
      <label>Day Rate</label>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-1 text-center" id="rate-min">
          $50
        </div>
        <div class="col-xs-9">
          <div id="slider-handles"></div>
          <input
            type="hidden"
            name="rate_min"
            id="hidden-rate-min"
            value="50">
          <input
            type="hidden"
            name="rate_max"
            id="hidden-rate-max"
            value="500">
        </div>
        <div class="col-xs-1 text-center" id="rate-max">
          $500
        </div>
      </div>
    </div>
  </div>
<form>

<script>
  $(function() {

    $('#slider-handles').noUiSlider({
    	start: [ 50, 500 ],
      step: 25,
    	connect: true,
    	range: {
    		'min': [  50 ],
    		'max': [ 500 ]
    	},
    	format: wNumb({
    		decimals: 0
    	})
    });

    $("#slider-handles").on({
    	slide: function(event, ui){
        var min = ui[0];
        var max = ui[1];
        $("#rate-min").html("$" + min);
        $("#rate-max").html("$" + max);
        $("#hidden-rate-min").val(min);
        $("#hidden-rate-max").val(max);
    	},
      set: function () {
        $("#hidden-rate-min").trigger("change");
      }
    });

    $(".date-picker").datepicker({ minDate: 0 });
  });
</script>
