<div id="flash-message">
	<% flash.each do |key, values| %>
	  <div class="<%= flash_class(key) %> fade in">
	    <a href="#" data-dismiss="alert" class="close">×</a>
	    <% values.each do |value| %>
				<li><%= value %></li>
			<% end %>
	  </div>
	<% end %>
</div>
